body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#calculadora {
    background-color: rgba(255, 255, 255, 0.651);
    margin-left: 35%;
    width: 30%;
    height: 20%;
    padding: 3px;
}

input {
    text-align: right;
    padding: 8px;
}

input:hover {
    cursor: pointer;
}

button {
    padding: 10px;
}

button:hover {
    cursor: pointer;
}